/* body {
  display: flex;
}
.styleButton {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: solid 1px grey;
}
#main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 30px;
  border: solid grey 1px;
} */
